!.*
!.*.*
!.*/**/*
!package.json

.git/
**/_site/
**/node_modules/
/vendor/**

LICENSE
README.md
Gemfile
Gemfile.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Use the following if your site is built via Jekyll.
# If you don't have a CNAME file, comment the next line out.
# CNAME
# If you don't have a .nojekyll file, comment the next line out.
# .nojekyll
# If you don't have a .gitignore file, comment the next line out.
# .gitignore
# If you don't have a favicon, comment the next line out.
# favicon.ico
# If you don't have a robots.txt file, comment the next line out.
# robots.txt
# If you don't have a humans.txt file, comment the next line out.
# humans.txt
# If you don't have a 404.html file, comment the next line out.
# 404.html
# If you don't have a 500.html file, comment the next line out.
# 500.html
# If you don't have a 502.html file, comment the next line out.
# 502.html
# If you don't have a 503.html file, comment the next line out.
# 503.html
# If you don't have a 504.html file, comment the next line out.
# 504.html
# TODO: Comment the following line out if you don't want to ignore your
#         _config.yml file.
_config.yml
# TODO: Comment the following line out if you don't want to
#                         ignore your _drafts folder.
_drafts/
# TODO: Comment the following line out if you don't want to
#                         ignore your _posts folder.
_posts/
# TODO: Comment the following line out if you don't want to
#                         ignore your _sass folder.
_sass/
# TODO: Comment the following line out if you don't want to
#                         ignore your _includes folder.
_includes/
# TODO: Comment the following line out if you don't want to
#                         ignore your _layouts folder.
_layouts/
# TODO: Comment the following line out if you don't want to
#                         ignore your _data folder.
_data/
# TODO: Comment the following line out if you don't want to
#                         ignore your _plugins folder.
_plugins/
# TODO: Comment the following line out if you don't want to
#                         ignore your _site folder.
_site/
# TODO: Comment the following line out if you don't want to
#                         ignore your _test folder.
_test/
# TODO: Comment the following line out if you don't want to
#                         ignore your _vendor folder.
_vendor/
# TODO: Comment the following line out if you don't want to
#                         ignore your _cache folder.
_cache/
# TODO: Comment the following line out if you don't want to
#                         ignore your _tmp folder.
_tmp/
# TODO: Comment the following line out if you don't want to
#                         ignore your _backup folder.
_backup/
# TODO: Comment the following line out if you don't want to
#       ignore your build folder.
# /build/
